/* Imports */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* CSS Variables */
:root {
  --primary-colour: #0b0e3f;
  --secondary-colour: #141852;
  --primary-accent: #5d3fd3;
  --secondary-accent: #2e96ff;
  --success-colour: #00d37f;
  --warrning-colour: #ffd700;
  --error-colour: #dc143c;
  --text: #ffffff;
  --text-secondary: #e5e5e5;
  --subtle-elements: #2a2a3a;

  --headers-font: 'Inter', sans-serif;
  --body-font: 'IBM Plex Sans', sans-serif;
  --interactive-font: 'IBM Plex Mono', monospace;
  --form-field-font: 'Open Sans', sans-serif;

  --32px: 2rem;
  --30px: 1.875rem;
  --24px: 1.5rem;
  --20px: 1.25rem;
  --16px: 1rem;
  --14px: 0.875rem;
  --12px: 0.75rem;
  --10px: 0.625rem;
  --8px: 0.5rem;
  --6px: 0.375rem;
  --5px: 0.3125rem;
  --4px: 0.25rem;
  --2px: 0.125rem;
}

/* Global Styles */

main {
  min-height: 80vh;
  background: linear-gradient(180deg, var(--primary-colour), var(--secondary-colour));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headers-font);
  color: var(--text);
  cursor: default;
}

p {
  color: var(--text);
  cursor: default;
}

/* Navigation */

.logo {
  font-family: var(--headers-font);
  font-size: 1.25rem;
  color: var(--text);
  text-decoration: none;
  font-weight: 700;
  padding: 0.5rem;
  background-color: var(--primary-colour);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.logo__img {
  width: 3.438rem;
  height: 3.438rem;
  margin: 0 0.5rem;
}

.logo p {
  text-wrap: nowrap;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-colour);
  color: var(--text);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.navigation__menu__links {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0.5rem;
  margin-right: var(--12px);
}

.navigation__menu__links li {
  margin: 0 1.719rem;
}

.navigation__menu__links a {
  text-decoration: none;
  color: var(--text);
  font-family: var(--headers-font);
  font-size: 1.25rem;
  font-weight: 700;
}

.navigation__menu__links a:hover,
.footer__content__links ul li a:hover {
  color: var(--secondary-accent);
}

.navigation__menu__links__link--active {
  color: var(--secondary-accent);
}

.navigation__menu--open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-colour);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.navigation__menu__links--open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 1rem;
  margin-top: 1rem;
  margin-right: 0px;
  gap: 1rem;
}

.navigation__menu__links--open li {
  padding: 1rem;
  width: 100%;
  text-align: center;
}

.navigation__menu__links--open li a {
  font-size: 2rem;
  font-weight: 700;
  color: var(--text);
  text-decoration: none;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: var(--20px);
}

.hamburger-menu span {
  display: block;
  width: var(--30px);
  height: 0.188rem;
  background-color: var(--text);
  margin: 0.25rem 0;
  transition: all 0.3s ease-in-out;
}

.hamburger-menu__bar {
  position: relative;
  transition: all 0.3s ease-in-out;
}

/* Footer */

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, var(--primary-colour), var(--secondary-colour));
  color: var(--text);
  box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.25);
}

.footer__cta__text {
  font-size: var(--24px);
  font-family: var(--headers-font);
  font-weight: 700;
  margin-top: 2.5rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.footer__cta__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 9rem;
}

.footer__cta__buttons a,
.home__buttons a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15.625rem;
  height: 4.063rem;
  text-decoration: none;
  color: var(--text);
  font-family: var(--interactive-font);
  font-size: var(--24px);
  font-weight: 700;
  padding: 0.5rem 1rem;
  border-radius: var(--10px);
  background-color: var(--error-colour);
  margin: 2rem 0;
}

.footer__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.footer__content__links {
  margin-bottom: 1rem;
}

.footer__content__links ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 4.25rem;
}

.footer__content__links ul li a {
  text-decoration: none;
  color: var(--text);
  font-family: var(--headers-font);
  font-size: var(--16px);
  font-weight: 400;
}

.footer__content__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__content__logo__image {
  width: 3.438rem;
  height: 3.438rem;
}

.footer__content__copyright,
.footer__content__copyright p {
  margin-top: 0;
}

.footer__content__copyright p,
.footer__content__logo p {
  font-size: var(--12px);
}

/* Home */

.home h1,
.home p,
.home h2,
.home h3 {
  margin: 0;
}

.home__header,
.about__header {
  position: relative;
  color: var(--text);
  height: 15.625rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home__header::before,
.about__header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('src/assets/images/home-header.webp') center / cover no-repeat;
  opacity: 0.4;
  z-index: 0;
}

.home__header h1,
.home__header p,
.about__header h1 {
  position: relative;
  z-index: 1;
}

.home__header h1 {
  font-size: var(--32px);
  font-family: var(--headers-font);
  font-weight: 700;
}

.home__header p {
  font-size: var(--24px);
  font-family: var(--headers-font);
  font-weight: 400;
  margin-top: 0.5rem;
}

.home__info-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--32px);
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.home__info-cards h2 {
  font-size: var(--32px);
  font-family: var(--headers-font);
  font-weight: 700;
}

.home__info-cards__card {
  height: 12.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--16px);
  background-color: var(--primary-accent);
  border-radius: var(--10px);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 1.5rem;
}

.home__info-cards__card h3 {
  font-size: var(--24px);
  font-family: var(--headers-font);
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.home__info-cards__card p {
  font-size: var(--20px);
  font-family: var(--body-font);
  font-weight: 400;
  text-align: left;
  width: 90%;
}

.home__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 9.1rem;
}

.home__buttons a {
  background-color: var(--secondary-accent);
}

.home__explanation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--32px);
  margin: 0 auto;
  width: 80%;
  margin-top: 2rem;
  padding-bottom: 3rem;
}

.home__explanation h2 {
  font-size: var(--32px);
  font-weight: 700;
}

.home__explanation__blocks {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--32px);
}

.home__explanation__blocks__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 13.875rem;
  gap: var(--6px);
}

.home__explanation__blocks__block h3 {
  font-size: var(--24px);
  font-weight: 700;
}

.home__explanation__blocks__block p {
  font-size: var(--16px);
}

.home__explanation__blocks__block img {
  height: 10.3125rem;
  margin-bottom: 1rem;
}

/* About */

.about__header::before {
  background: url('src/assets/images/about-header.webp') center / cover no-repeat;
}

.about__content {
  width: 80%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--32px);
  margin-top: 2rem;
  padding-bottom: 3rem;
}

.about__content__block {
  text-align: center;
  width: 100%;
}

.about__content__block h2 {
  font-size: var(--32px);
  font-weight: 700;
}

.about__content__block p {
  font-size: var(--20px);
  font-family: var(--body-font);
}

.about__content__block__addition {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}

.about__content__block__addition img {
  height: 15.625rem;
}

.about__content__block__addition__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.about__content__block__addition__list p {
  margin: 0;
  align-self: flex-start;
}

.about__content__block__addition__list ul {
  text-align: left;
  color: var(--text);
  font-family: var(--body-font);
  font-size: var(--20px);
  margin-top: 0.5rem;
}

/* Media Queries */

@media only screen and (max-width: 1333px) {
  .footer__cta__text {
    flex-direction: column;
    gap: 0;
  }

  .footer__cta__text p {
    margin: 0;
  }
}

@media only screen and (max-width: 950px) {
  .navigation__menu__links li {
    margin: 0 1rem;
  }

  .navigation__menu__links a {
    font-size: 1rem;
  }

  .home__header h1,
  .home__header p {
    width: 80%;
  }

  .home__header h1 {
    font-size: var(--24px);
  }

  .home__header p {
    font-size: var(--20px);
  }

  .home__info-cards__card p {
    font-size: var(--16px);
  }

  .home__explanation__blocks {
    flex-wrap: wrap;
  }

  .home__explanation__blocks__block {
    width: 40%;
  }

  .about__content__block__addition img {
    display: none;
  }

  .about__header h1 {
    font-size: var(--24px);
  }
}

@media only screen and (max-width: 768px) {
  .navigation__menu__links {
    display: none;
  }

  .navigation__menu--open {
    display: flex;
    z-index: 2;
  }

  .navigation__menu__links--open {
    display: flex;
  }

  .hamburger-menu {
    display: flex;
  }

  .hamburger-menu--open {
    z-index: 2;
    position: absolute;
    top: var(--10px);
    right: 0;
  }

  .hamburger-menu--open .hamburger-menu__bar:first-child {
    transform: rotate(45deg) translate(var(--10px));
    transform-origin: left;
  }

  .hamburger-menu--open .hamburger-menu__bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger-menu--open .hamburger-menu__bar:last-child {
    transform: rotate(-45deg) translate(var(--5px));
  }
}

@media only screen and (max-width: 680px) {
  .footer__cta__text {
    width: 90%;
    margin: 2rem auto;
  }

  .footer__cta__buttons {
    margin-top: 0.5rem;
    flex-direction: column;
    gap: 0;
  }

  .footer__cta__buttons a {
    margin: 1.25rem 0;
  }

  .footer__content__links ul {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-items: center;
    padding: 0;
  }

  .home__header h1 {
    font-size: var(--16px);
  }

  .home__header p {
    font-size: var(--14px);
  }

  .home__info-cards__card {
    height: 18.75rem;
  }

  .home__info-cards__card h3 {
    font-size: var(--16px);
  }

  .home__info-cards__card p {
    font-size: var(--14px);
  }

  .home__buttons {
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 3rem;
  }

  .home__explanation__blocks {
    flex-direction: column;
  }

  .home__explanation__blocks__block {
    width: 100%;
  }

  .about__header h1 {
    font-size: var(--24px);
  }

  .about__content__block__addition {
    width: 90%;
  }

  .about__content__block__addition__list p,
  .about__content__block__addition__list ul {
    font-size: var(--16px);
  }

  .about__content__block h2 {
    font-size: var(--24px);
  }

  .about__content__block p {
    font-size: var(--16px);
  }
}
